*{
	margin: 0;
	padding: 0;
}
ul,ol{list-style-type:none;}
a, img {
    -webkit-touch-callout: none; /*禁止长按链接与图片弹出菜单*/
}
html, body {
/*    -webkit-user-select: none; */ /*禁止选中文本*/
    /* user-select: none; */
}
/* body{
	 padding-top: 70px;
} */
a{ text-decoration:none; color: #333333;}
a:hover{ text-decoration:none; color: #333333;}
[v-cloak] {
	display: none!important;
}
