<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>网上商城</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<link rel="stylesheet"href="css/public.css">
		<link rel="stylesheet"href="css/header.css">
		<link rel="stylesheet"href="css/index.css">
		<link rel="stylesheet"href="css/lunbotu.css">
		<link rel="stylesheet"href="css/footer.css">
		<link rel="stylesheet"href="css/Response.css">
	</head>
	<body>
	<header>
		<div id="head-box">
			<div id="logo"><a href="index.html"><img src="img/LOGO.png"></a></div>
			<nav class="menu" role="navigation">
				<ul>
					<li><a style="color: gold;" href="index.html">首页</a></li>
					<li>商品
						<ul class="Subdirectories">
							<li><a href="shop.html">热门商品</a></li>
							<li><a href="shop.html">最新上市</a></li>
						</ul>
					</li>
					<li>关于</li>
					<li>客服</li>
				</ul>
			</nav>
			<form action="" class="Search-form">
				<input type="text" class="Search  form-control"  placeholder="Search">
				<button type="submit" class="btn-Search"><img src="img/Search.png"></button>
			</form>
			<div class="user" v-if="!isLogin">
				<div class="login"><a href="helloLogin">登录</a></div>
				<div class="register"><a href="helloLogin">注册</a></div>
			</div>
			<div class="Landed"  v-if="isLogin">
				<div class="cart_btn"><a href="cart"><img src="img/cart.png"></a></div>
				<div class="head_portrait" >
					<img src="img/user.png" @mouseenter="userCenterShow=true" @mouseleave="userCenterShow=false">
					<div class="user_center" v-if="userCenterShow" @mouseenter="userCenterShow=true" @mouseleave="userCenterShow=false">
						<ul>
							<li v-text="userinfo.username"></li>
							<li><a href="confirm_order.html?all=1" style="color: white">我的订单</a></li>
							<li><a href="/cancellation" style="color: white">退出登录</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
		<content>
			<div class="background-image">
				<img src="img/huaban-016.jpg"/>
			</div>
			<div class="part-1">
				<div id="Rotary-Planting-Map">
					<div class = "box">
						<ul class = "img">
							<li><img src="img/gratisography-man-longboard.jpg" alt=""></li>
							<li><img src="img/huaban-003.jpg" alt=""></li>
							<li><img src="img/huaban_qingnian-008.jpg" alt=""></li>
							<li><img src="img/gratisography-man-longboard.jpg" alt=""></li>
							<li><img src="img/huaban-003.jpg" alt=""></li>
						</ul>
						<div class ="btn" id="prev"><img src="img/prev.png" ></div>
						<div class ="btn" id="next"><img src="img/next.png"></div>
						<div class="circle">
						   <span class="current"></span>
						   <span></span>
						   <span></span>
						   <span></span>
						   <span></span>
						</div>	
					</div>
				</div>
				<div class="left-title">
					<div class="welcome-header-text">
						<p>That's &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
						<p>the sport.</p>
						<p style="font-size: 2rem; margin-right: 100px; cursor:pointer; text-decoration:underline; "><a>Learn more</a></p>
					</div>
					<div class="mask1"></div>
				</div>
			</div>
		<div class="part-2">
			<div class="videolan">
				<video autoplay loop muted width="100%" height="100%" x5-playsinline="true" playsinline="true" webkit-playsinline="true" preload="auto">
					<source src="img/1.mp4"  type="video/mp4">
					<!-- <source src="movie.ogg"  type="video/ogg"> -->
					您的浏览器不支持 HTML5 video 标签。
				</video>
			</div>
			<div class="right-2">
				<h1>企业信息</h1>
				<p class="lead">滑板Skateboard项目可谓是极限运动历史的鼻祖，许多的极限运动项目均由滑板项目延伸而来。20世纪50年代末60年代初由冲浪运动演变而成的滑板运动，最早的滑板是由爱好者把双排轮滑的支架装在木板上，后来慢慢的发展成现在的滑板，在而今已成为地球上最“酷”的运动。</p>
				<div class="more"><p class="text-center">查看更多</p></div>
			</div>
			<div style="clear: both;"></div>
			<div class="sport-info">
				<div class="sport-right">
					<img src="img/84211eea73c31740552989c2ffe5ffc8.png" alt=""/>
					<div class="img-border"></div>
				</div>
				<div class="sport-left">
					<p><h1 style="color: #FFD700;" >IT'S A VERY </h1></p>
					<p><h1 style="color: #FFD700;" >FASHIONABLE AND </h1></p>
					<p><h1>EXCITIING SPORT.</h1></p>
				</div>
				<!-- <div class="more"><p class="text-center">查看更多</p></div> -->
			</div>
		</div>
		<div class="part-3">
			<div class="shop-show">
				<div class="shop-title">
					<h1 class="text-center">COMMODITY CENTER</h1>
					<h1 class="text-center" style="color: white">商品中心</h1>
				</div>
				<div class="shop" v-for="(item,index) in items" @click="commodity(item.id)">
					<img :src="item.img" >
					<div class="shop-info">
						<h4 style="color: white; height: 38px" v-text="item.name">韩国滑板</h4>
						<h4 v-text="'￥' + item.price"></h4>
					</div>
				</div>
				<div style="clear: both;"></div>
				<div class="shop-show-bt" @click="shop()"><p class="text-center">查看更多</p></div>
			</div>
		</div>
		</content>
		<footer>
			<div class="foot-box">
				<div class="foot-left">
					<div class="foot-logo"><img src="img/LOGO.png" ></div>
					<ul>
						<li>首页</li>
						<li>商品中心</li>
						<li>关于企业</li>
						<li>客服服务</li>
					</ul>
				</div>
				<div class="foot-center">
					<h2 style="margin-bottom: 50px; color: rgb(244, 182, 19);">联系我们</h2>
					<ul>
						<li>Tel：123-456-7890</li>
						<li>Email：mao1195419991@163.com</li>
						<li>地址：杭州市江干区</li>
					</ul>
				</div>
				<div class="foot-right">
					<h2 style="margin-bottom: 50px; color: rgb(244, 182, 19);">加入我们</h2>
					<h4>填写信息</h4>
					<div class="contact-bt"><p class="text-center">联系我们！</p></div>
				</div>
				<div style="clear: both;"></div>
			</div>
			<div class="bottom">
				<p class="text-center">法律声明&nbsp;|&nbsp;隐私政策&nbsp;|&nbsp;购物付款&nbsp;|&nbsp;类型服务&nbsp;|&nbsp;付款类型&nbsp;|&nbsp;支付方式&nbsp;|&nbsp;产品售后与申诉服务&nbsp;|&nbsp;投诉与申诉&nbsp;|&nbsp;举报知识产权维护&nbsp;</p>
			</div>
		</footer>
	</body>
	<script src="js/header.js"></script>
	<script src="js/lunbotu.js"></script>
	<script>
		new Vue({
			el:'.part-3',
			data:{
				items:[]
			},
			created: function () {
				axios.post('/productList', {			//AJAX登录
					currIndex:0,
					pageSize:4,
				}).then((response) => {
					this.items = response.data.productList;
					console.log(response)
				}).catch(function (error) {
					console.log(error);
				});
			},
			methods:{
				shop(){
					window.location.href="shop.html";
				},
				commodity(id){
					window.open("/items.html?id="+id);
				}
			}
		});

		// new Vue({
		// 	el:"#head-box",
		// 	data:{
		// 		userinfo:[],
		// 		isLogin:true,
		// 		userCenterShow:false
		// 	},
		// 	created: function () {
		// 		axios.get('/getUserInfo', {			//AJAX
		// 		}).then((response) => {
		// 			this.userinfo = response.data;
		// 			if(this.userinfo.status == 1){
		// 				this.isLogin=true;
		// 			}else{
		// 				this.isLogin=false;
		// 			}
		// 		}).catch(function (error) {
		// 			console.log(error);
		// 		});
		// 	},methods:{
		//
		// 	}
		// })

	</script>
</html>